/*   FONTS AND RESET   */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/*   HEADER STYLING   */

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-dark{
    background-color: transparent;
}

.navbarShowColor{
    background-color: #191919;
}

.logoSmallHide{
    display: none;
}

.logoSmallShow{
    display: block;
    transition: 2s;
}

/*   SECTION STYLING   */

section {
    min-height: 105vh;
}

#home-section-1 {
    background-image: url("../img/home-bg-test.jpg");
    background-size: cover;
    background-position: bottom right;
    background-attachment: fixed;
    width: 100vw;
}

figure{
    display: block;
    margin: 0 auto;
    margin-top: 40vh;
    width: 100vw;
    text-align: center;
}

#home-logo{
    width: 569px;
    height: 177px;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fefefe;
}

#button-toShop{
    text-align: center;
    margin: 0 auto;
}

figcaption {
    text-transform: uppercase;
    color: #fefefe;
    margin-bottom: 30px;
}

#home-section-2 {
    background-color: #212529;
    background-attachment: scroll;
    color: #fefefe;
    min-height: 80vh;
}

h1{
    font-family: "Playfair Display", serif;
    margin-top: 50px;
    text-align: center;
}

main h2{
    min-height: 75px;
    font-size: 25px;
    background: brown;
}

#testimonial-box{
    margin: 50px auto;
    display: flex;
    width: 90%;
}

.testimonial{
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 25px;
    width: 90%;
    margin-right: 30px;
    border-right: 1px solid #010101;
    font-family: 'Playfair Display', serif;
    background-color: red;
}

.testimonial p{
    min-height: 250px;
    margin-bottom: 15px;
    font-family: "Helvetica", sans-serif;
    background-color: yellow;
    border-bottom: 1px solid #fefefe;
}

.home-testimonial-profile-pic {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    position: relative;
}

.flex-name-img {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}

.quote-large{
    width: 100%;
    margin-right: 30px;
}

main h3{
    font-size: 30px;
    margin-left: 15px;
    background-color: green;
}

#home-section-3 {
    background-image: url("../img/home-bg-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
}

footer section{
    min-height: 1vh;
}

@media (max-width: 992px) {
    #testimonial-box{
        flex-wrap: wrap;
        background-color: blue;
    }

    .testimonial{
        margin: 0 auto;
        flex-wrap: nowrap;
        width: 80%;
        background-color: red;
        border-right: none;
        border-bottom: 1px solid #fefefe;
    }
}

@media (min-width: 200px) and (max-width: 600px){
    figure {
        width: 190px;
    }
    #home-logo{
        width: 190px;
        height: 91px;
    }
}
