/*   FONTS AND RESET   */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/*   HEADER STYLING   */

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.logoSmallHide{
    display: none;
}

.logoSmallShow{
    display: block;
}

/*   SECTION STYLING   */

section {
    min-height: 105vh;
}

#home-section-1 {
    background-image: url("../img/home-bg-test.jpg");
    background-size: cover;
    background-position: bottom right;
    background-attachment: fixed;
    width: 100vw;
}

figure{
    display: block;
    margin: 30vh auto;
    margin-bottom: 0;
    width: 100vw;
    text-align: center;
}

#home-logo{
    width: 569px;
    height: 177px;
    text-align: center;
    margin-bottom: 45px;
}

#button-toShop{
    text-align: center;
    margin: 0 auto;
}

figcaption {
    text-transform: uppercase;
    color: #fefefe;
}

#home-section-2 {
    background-color: #212529;
    background-attachment: scroll;
    color: #fefefe;
}

h1{
    margin-top: 50px;
    text-align: center;
}


#testimonial-box{
    margin: 100px auto;
    display: flex;
    width: 90%;
}

.testimonial{
    position: relative;
    margin: 25px auto;
    padding: 25px;
    width: 90%;
    height: 450px;
    display: flex;
    margin-right: 30px;
    border-right: 1px solid #010101;
    font-family: 'Playfair Display', serif;
}

.home-testimonial-profile-pic {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    position: relative;
}

.flex-name-img {
    display: flex;
    margin: auto 0;
    position: absolute;
    bottom: 0;
}

.quote-large{
    width: 100%;
    margin-right: 30px;
}

h3{
    font-size: 30px;
    margin-left: 15px;
}

#home-section-3 {
    background-image: url("../img/home-bg-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
}

@media (max-width: 800px) {
    #testimonial-box{
        flex-wrap: wrap;
    }
}

@media (min-width: 200px) and (max-width: 600px){
    figure {
        width: 190px;
    }
    #home-logo{
        width: 190px;
        height: 91px;
    }
}
